*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #3a3a3a;
}

.login-container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(142, 89, 89, 0.08);
    text-align: center;
}

.logo{
    width: 80px;
    height: 150px;
    background-color: #EA1D2C;
    border-radius: 20px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.login-container h2{
    margin-bottom: 8px;
    font-size: 24px;
    color: #111;
}

.login-container p{
    margin-bottom: 30px;
    font-size: 14px;
    color: #802222;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label{
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
}

.input-group input:focus{
    border-color: #EA1D2C;
}

.btn-submit{
    width: 100%;
    padding: 14px;
    background-color: #EA1D2C;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn-submit:hover{
    background-color: #c91624;
}

.suport-links{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
}

.suport-links a{
    margin-top: 25px;
}

.suport-links a:hover{
    text-decoration: underline;
}